@font-face {
  font-family: "Raleway Bold";
  src: url("/fonts/Raleway/Raleway700.woff2") format("woff2"), url("/fonts/Raleway/Raleway700.woff") format("woff"), url("/fonts/Raleway/Raleway700.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}