@font-face {
  font-family: "Open Sans Bold Italic";
  src:
    url("/fonts/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff"),
    url("/fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
